In [5]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/zhaoaijie/opt/anaconda3/lib/python3.7/site-packages (2.8.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# Name of the CSV file
file = 'Covid Data.csv'

In [9]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, header=None)

In [10]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

,0,1,2,3,4,5,6
0,Title: Confirmed COVID-19 Cases and Deaths | KFF,NaN,NaN,NaN,NaN,NaN,NaN
1,Timeframe: as of 9/14/2020 at 2:26PM,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
3,United States,"6,535,105",19910,"194,252",592,0.029724389,1
4,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN

In [11]:
df = df.drop(index=[0, 1])
df.head()

,0,1,2,3,4,5,6
2,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
3,United States,"6,535,105",19910,"194,252",592,0.029724389,1
4,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN
5,Alaska,"6,343",8671,44,60,0.006936781,NaN
6,Arizona,"208,512",28647,"5,322",731,0.025523711,NaN

In [12]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])
df.head()

,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
3,United States,"6,535,105",19910,"194,252",592,0.029724389,1
4,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN
5,Alaska,"6,343",8671,44,60,0.006936781,NaN
6,Arizona,"208,512",28647,"5,322",731,0.025523711,NaN
7,Arkansas,"70,219",23268,981,325,0.013970578,NaN

In [13]:
df.columns

Index(['Location', 'Number of COVID-19 Cases',
       'COVID-19 Cases per 1,000,000 Population', 'Deaths from COVID-19',
       'COVID-19 Deaths per 1,000,000 Population', 'COVID-19 Fatality Rate',
       'Footnotes'],
      dtype='object')

In [14]:
df.columns = ['state', 'number_covid_cases',
       'COVID-19 Cases per 1,000,000 Population', 'number_of_deaths',
       'COVID-19 Deaths per 1,000,000 Population', 'fatality_rate',
       'Footnotes']

In [15]:
# Delete extraneous column
df = df.drop(columns=['COVID-19 Cases per 1,000,000 Population', 'COVID-19 Deaths per 1,000,000 Population', 'Footnotes'], axis=1)
df.head()

           state number_covid_cases number_of_deaths fatality_rate
3  United States          6,535,105          194,252   0.029724389
4        Alabama            139,459            2,355   0.016886684
5         Alaska              6,343               44   0.006936781
6        Arizona            208,512            5,322   0.025523711
7       Arkansas             70,219              981   0.013970578

In [16]:
# Identify incomplete rows
df.count()

state                 65
number_covid_cases    57
number_of_deaths      57
fatality_rate         57
dtype: int64

In [17]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [18]:
# Verify dropped rows
df.count()

state                 57
number_covid_cases    57
number_of_deaths      57
fatality_rate         57
dtype: int64

In [19]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

state                 object
number_covid_cases    object
number_of_deaths      object
fatality_rate         object
dtype: object

In [20]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
df['number_covid_cases'] = df['number_covid_cases'].str.replace(',', '')
df['number_of_deaths'] = df['number_of_deaths'].str.replace(',', '')
df['number_covid_cases'] = pd.to_numeric(df['number_covid_cases'])
#df['COVID-19 Cases per 1,000,000 Population'] = pd.to_numeric(df['COVID-19 Cases per 1,000,000 Population'])
df['number_of_deaths'] = pd.to_numeric(df['number_of_deaths'])
#df['COVID-19 Deaths per 1,000,000 Population'] = pd.to_numeric(df['COVID-19 Deaths per 1,000,000 Population'])
df.dtypes

state                 object
number_covid_cases     int64
number_of_deaths       int64
fatality_rate         object
dtype: object

In [21]:
df

,state,number_covid_cases,number_of_deaths,fatality_rate
3,United States,6535105,194252,0.029724389
4,Alabama,139459,2355,0.016886684
5,Alaska,6343,44,0.006936781
6,Arizona,208512,5322,0.025523711
7,Arkansas,70219,981,0.013970578
8,California,763171,14392,0.018858159
9,Colorado,61293,1988,0.032434373
10,Connecticut,54326,4480,0.082465118
11,Delaware,18937,617,0.032581718
12,District of Columbia,14622,616,0.0421283
13,Florida,665730,12642,0.018989681
14,Georgia,294314,6333,0.021517835
15,Hawaii,10700,99,0.009252336
16,Idaho,35279,415,0.011763372
17,Illinois,264831,8546,0.032269636
18,Indiana,106540,3439,0.032278956
19,Iowa,74896,1223,0.01632931
20,Kansas,49272,534,0.010837798
21,Kentucky,56945,1060,0.018614453
22,Louisiana,157947,5252,0.03325166
23,Maine,4904,136,0.027732463
24,Maryland,116646,3839,0.032911544
25,Massachusetts,124826,9210,0.073782706
26,Michigan,123058,6911,0.05616051
27,Minnesota,84949,1974,0.023237472
28,Mississippi,90018,2706,0.030060655
29,Missouri,104080,1731,0.016631437
30,Montana,9107,138,0.015153179
31,Nebraska,38335,434,0.011321247
32,Nevada,73814,1456,0.019725255
33,New Hampshire,7696,436,0.056652807
34,New Jersey,196968,16034,0.081404086
35,New Mexico,26761,823,0.030753709
36,New York,444948,33030,0.074233394
37,North Carolina,185780,3060,0.016471095
38,North Dakota,15831,170,0.010738425
39,Ohio,137405,4415,0.032131291
40,Oklahoma,70223,905,0.012887515
41,Oregon,29337,509,0.017350104
42,Pennsylvania,150000,7855,0.052366667
43,Rhode Island,23130,1075,0.046476438
44,South Carolina,131864,3064,0.023236061
45,South Dakota,16801,184,0.010951729
46,Tennessee,171824,2078,0.01209377
47,Texas,682227,14405,0.021114673
48,USVI,1221,19,0.015561016
49,Utah,57875,433,0.007481641
50,Vermont,1696,58,0.034198113
51,Virginia,134493,2743,0.020395114
52,Washington,79826,1991,0.024941748
53,West Virginia,12705,267,0.021015348
54,Wisconsin,89185,1210,0.013567304
55,Wyoming,4346,42,0.009664059
56,American Samoa,0,0,0
57,Guam,1927,26,0.013492475
58,Northern Mariana Islands,61,2,0.032786885
59,Puerto Rico,37750,542,0.014357616

In [22]:
df.to_csv('Covid_clean.csv', index = False)

In [26]:
engine = create_engine('postgresql://zhaoaijie:@localhost:5432/ETL_PROJECT')

In [27]:
engine.table_names()

['covid_19', 'obesity', 'population']

In [28]:
df.to_sql(name='covid_19', con=engine, if_exists='append', index=False)