In [18]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\15309\anaconda3\envs\python_data\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Name of the CSV file
file = 'Covid Data.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, header=None)

In [4]:
# Preview of the DataFrame
# Note that FIELD8 is likely a meaningless column
df.head()

,0,1,2,3,4,5,6
0,Title: Confirmed COVID-19 Cases and Deaths | KFF,NaN,NaN,NaN,NaN,NaN,NaN
1,Timeframe: as of 9/14/2020 at 2:26PM,NaN,NaN,NaN,NaN,NaN,NaN
2,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
3,United States,"6,535,105",19910,"194,252",592,0.029724389,1
4,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN

In [5]:
df = df.drop(index=[0, 1])
df.head()

,0,1,2,3,4,5,6
2,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
3,United States,"6,535,105",19910,"194,252",592,0.029724389,1
4,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN
5,Alaska,"6,343",8671,44,60,0.006936781,NaN
6,Arizona,"208,512",28647,"5,322",731,0.025523711,NaN

In [6]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])
df.head()

,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
3,United States,"6,535,105",19910,"194,252",592,0.029724389,1
4,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN
5,Alaska,"6,343",8671,44,60,0.006936781,NaN
6,Arizona,"208,512",28647,"5,322",731,0.025523711,NaN
7,Arkansas,"70,219",23268,981,325,0.013970578,NaN

In [7]:
df.columns

Index(['Location', 'Number of COVID-19 Cases',
       'COVID-19 Cases per 1,000,000 Population', 'Deaths from COVID-19',
       'COVID-19 Deaths per 1,000,000 Population', 'COVID-19 Fatality Rate',
       'Footnotes'],
      dtype='object')

In [8]:
df.columns = ['state', 'number_covid_cases',
       'COVID-19 Cases per 1,000,000 Population', 'number_of_deaths',
       'COVID-19 Deaths per 1,000,000 Population', 'fatality_rate',
       'Footnotes']

In [9]:
# Delete extraneous column
df = df.drop(columns=['COVID-19 Cases per 1,000,000 Population', 'COVID-19 Deaths per 1,000,000 Population', 'Footnotes'], axis=1)
df.head()

           state number_covid_cases number_of_deaths fatality_rate
3  United States          6,535,105          194,252   0.029724389
4        Alabama            139,459            2,355   0.016886684
5         Alaska              6,343               44   0.006936781
6        Arizona            208,512            5,322   0.025523711
7       Arkansas             70,219              981   0.013970578

In [10]:
# Identify incomplete rows
df.count()

state                 65
number_covid_cases    57
number_of_deaths      57
fatality_rate         57
dtype: int64

In [11]:
# Drop all rows with missing information
df = df.dropna(how='any')

In [12]:
# Verify dropped rows
df.count()

state                 57
number_covid_cases    57
number_of_deaths      57
fatality_rate         57
dtype: int64

In [13]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

state                 object
number_covid_cases    object
number_of_deaths      object
fatality_rate         object
dtype: object

In [14]:
# Use pd.to_numeric() method to convert the datatype of the Amount column
df['number_covid_cases'] = df['number_covid_cases'].str.replace(',', '')
df['number_of_deaths'] = df['number_of_deaths'].str.replace(',', '')
df['number_covid_cases'] = pd.to_numeric(df['number_covid_cases'])
#df['COVID-19 Cases per 1,000,000 Population'] = pd.to_numeric(df['COVID-19 Cases per 1,000,000 Population'])
df['number_of_deaths'] = pd.to_numeric(df['number_of_deaths'])
#df['COVID-19 Deaths per 1,000,000 Population'] = pd.to_numeric(df['COVID-19 Deaths per 1,000,000 Population'])
df.dtypes

state                 object
number_covid_cases     int64
number_of_deaths       int64
fatality_rate         object
dtype: object

In [24]:
df

,state,number_covid_cases,number_of_deaths,fatality_rate
3,United States,6535105,194252,0.0297243890.0297243890.0297243890.0297243890....
4,Alabama,139459,2355,0.0168866840.0168866840.0168866840.0168866840....
5,Alaska,6343,44,0.0069367810.0069367810.0069367810.0069367810....
6,Arizona,208512,5322,0.0255237110.0255237110.0255237110.0255237110....
7,Arkansas,70219,981,0.0139705780.0139705780.0139705780.0139705780....
8,California,763171,14392,0.0188581590.0188581590.0188581590.0188581590....
9,Colorado,61293,1988,0.0324343730.0324343730.0324343730.0324343730....
10,Connecticut,54326,4480,0.0824651180.0824651180.0824651180.0824651180....
11,Delaware,18937,617,0.0325817180.0325817180.0325817180.0325817180....
12,District of Columbia,14622,616,0.04212830.04212830.04212830.04212830.04212830...
13,Florida,665730,12642,0.0189896810.0189896810.0189896810.0189896810....
14,Georgia,294314,6333,0.0215178350.0215178350.0215178350.0215178350....
15,Hawaii,10700,99,0.0092523360.0092523360.0092523360.0092523360....
16,Idaho,35279,415,0.0117633720.0117633720.0117633720.0117633720....
17,Illinois,264831,8546,0.0322696360.0322696360.0322696360.0322696360....
18,Indiana,106540,3439,0.0322789560.0322789560.0322789560.0322789560....
19,Iowa,74896,1223,0.016329310.016329310.016329310.016329310.0163...
20,Kansas,49272,534,0.0108377980.0108377980.0108377980.0108377980....
21,Kentucky,56945,1060,0.0186144530.0186144530.0186144530.0186144530....
22,Louisiana,157947,5252,0.033251660.033251660.033251660.033251660.0332...
23,Maine,4904,136,0.0277324630.0277324630.0277324630.0277324630....
24,Maryland,116646,3839,0.0329115440.0329115440.0329115440.0329115440....
25,Massachusetts,124826,9210,0.0737827060.0737827060.0737827060.0737827060....
26,Michigan,123058,6911,0.056160510.056160510.056160510.056160510.0561...
27,Minnesota,84949,1974,0.0232374720.0232374720.0232374720.0232374720....
28,Mississippi,90018,2706,0.0300606550.0300606550.0300606550.0300606550....
29,Missouri,104080,1731,0.0166314370.0166314370.0166314370.0166314370....
30,Montana,9107,138,0.0151531790.0151531790.0151531790.0151531790....
31,Nebraska,38335,434,0.0113212470.0113212470.0113212470.0113212470....
32,Nevada,73814,1456,0.0197252550.0197252550.0197252550.0197252550....
33,New Hampshire,7696,436,0.0566528070.0566528070.0566528070.0566528070....
34,New Jersey,196968,16034,0.0814040860.0814040860.0814040860.0814040860....
35,New Mexico,26761,823,0.0307537090.0307537090.0307537090.0307537090....
36,New York,444948,33030,0.0742333940.0742333940.0742333940.0742333940....
37,North Carolina,185780,3060,0.0164710950.0164710950.0164710950.0164710950....
38,North Dakota,15831,170,0.0107384250.0107384250.0107384250.0107384250....
39,Ohio,137405,4415,0.0321312910.0321312910.0321312910.0321312910....
40,Oklahoma,70223,905,0.0128875150.0128875150.0128875150.0128875150....
41,Oregon,29337,509,0.0173501040.0173501040.0173501040.0173501040....
42,Pennsylvania,150000,7855,0.0523666670.0523666670.0523666670.0523666670....
43,Rhode Island,23130,1075,0.0464764380.0464764380.0464764380.0464764380....
44,South Carolina,131864,3064,0.0232360610.0232360610.0232360610.0232360610....
45,South Dakota,16801,184,0.0109517290.0109517290.0109517290.0109517290....
46,Tennessee,171824,2078,0.012093770.012093770.012093770.012093770.0120...
47,Texas,682227,14405,0.0211146730.0211146730.0211146730.0211146730....
48,USVI,1221,19,0.0155610160.0155610160.0155610160.0155610160....
49,Utah,57875,433,0.0074816410.0074816410.0074816410.0074816410....
50,Vermont,1696,58,0.0341981130.0341981130.0341981130.0341981130....
51,Virginia,134493,2743,0.0203951140.0203951140.0203951140.0203951140....
52,Washington,79826,1991,0.0249417480.0249417480.0249417480.0249417480....
53,West Virginia,12705,267,0.0210153480.0210153480.0210153480.0210153480....
54,Wisconsin,89185,1210,0.0135673040.0135673040.0135673040.0135673040....
55,Wyoming,4346,42,0.0096640590.0096640590.0096640590.0096640590....
56,American Samoa,0,0,0000000000000000000000000000000000000000000000...
57,Guam,1927,26,0.0134924750.0134924750.0134924750.0134924750....
58,Northern Mariana Islands,61,2,0.0327868850.0327868850.0327868850.0327868850....
59,Puerto Rico,37750,542,0.0143576160.0143576160.0143576160.0143576160....

In [16]:
df.to_csv('Covid_clean.csv', index = False)

In [17]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [18]:
engine.table_names()

['covid_19', 'population', 'obesity']

In [19]:
df.to_sql(name='covid_19', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "covid_19_pkey"
DETAIL:  Key (state)=(United States) already exists.

[SQL: INSERT INTO covid_19 (state, number_covid_cases, number_of_deaths, fatality_rate) VALUES (%(state)s, %(number_covid_cases)s, %(number_of_deaths)s, %(fatality_rate)s)]
[parameters: ({'state': 'United States', 'number_covid_cases': 6535105, 'number_of_deaths': 194252, 'fatality_rate': '0.029724389'}, {'state': 'Alabama', 'number_covid_cases': 139459, 'number_of_deaths': 2355, 'fatality_rate': '0.016886684'}, {'state': 'Alaska', 'number_covid_cases': 6343, 'number_of_deaths': 44, 'fatality_rate': '0.006936781'}, {'state': 'Arizona', 'number_covid_cases': 208512, 'number_of_deaths': 5322, 'fatality_rate': '0.025523711'}, {'state': 'Arkansas', 'number_covid_cases': 70219, 'number_of_deaths': 981, 'fatality_rate': '0.013970578'}, {'state': 'California', 'number_covid_cases': 763171, 'number_of_deaths': 14392, 'fatality_rate': '0.018858159'}, {'state': 'Colorado', 'number_covid_cases': 61293, 'number_of_deaths': 1988, 'fatality_rate': '0.032434373'}, {'state': 'Connecticut', 'number_covid_cases': 54326, 'number_of_deaths': 4480, 'fatality_rate': '0.082465118'}  ... displaying 10 of 57 total bound parameter sets ...  {'state': 'Northern Mariana Islands', 'number_covid_cases': 61, 'number_of_deaths': 2, 'fatality_rate': '0.032786885'}, {'state': 'Puerto Rico', 'number_covid_cases': 37750, 'number_of_deaths': 542, 'fatality_rate': '0.014357616'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)