In [1]:
# Dependencies
import pandas as pd

In [4]:
file = 'Covid Data.csv'
df = pd.read_csv(file, encoding="ISO-8859-1")
df.head()

,ï»¿Title: Confirmed COVID-19 Cases and Deaths | KFF,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Timeframe: as of 9/14/2020 at 2:26PM,NaN,NaN,NaN,NaN,NaN,NaN
1,Location,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",COVID-19 Fatality Rate,Footnotes
2,United States,"6,535,105",19910,"194,252",592,0.029724389,1
3,Alabama,"139,459",28443,"2,355",480,0.016886684,NaN
4,Alaska,"6,343",8671,44,60,0.006936781,NaN

In [ ]:
raw_data_info = {
    "customer_id": [112, 403, 999, 543, 123],
    "name": ["John", "Kelly", "Sam", "April", "Bobbo"],
    "email": ["jman@gmail", "kelly@aol.com", "sports@school.edu", "April@yahoo.com", "HeyImBobbo@msn.com"]
}
info_df = pd.DataFrame(raw_data_info, columns=["customer_id", "name", "email"])
info_df

In [ ]:
# Create DataFrames
raw_data_items = {
    "customer_id": [403, 112, 543, 999, 654],
    "item": ["soda", "chips", "TV", "Laptop", "Cooler"],
    "cost": [3.00, 4.50, 600, 900, 150]
}
items_df = pd.DataFrame(raw_data_items, columns=[
                        "customer_id", "item", "cost"])
items_df

In [ ]:
# Merge two dataframes using an inner join
merge_df = pd.merge(info_df, items_df, on="customer_id")
merge_df

In [ ]:
# Merge two dataframes using an outer join
merge_df = pd.merge(info_df, items_df, on="customer_id", how="outer")
merge_df

In [ ]:
# Merge two dataframes using a left join
merge_df = pd.merge(info_df, items_df, on="customer_id", how="left")
merge_df

In [ ]:
# Merge two dataframes using a right join
merge_df = pd.merge(info_df, items_df, on="customer_id", how="right")
merge_df